/* 
    General Styles
*/

.divdashboard{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.divchart{
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.divpiechart {
      margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}